# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories and environment variable files
venv/
.env/

# Ignore IDE and OS-specific files
.vscode/

# Ignore macOS-specific files
.DS_Store